/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

html, body, header, section, article, div, h1, h2, h3, h4, form, ul, li, input, a {
 margin: 0;
 padding: 0;
 border: 0;

 font: inherit;
 text-align: inherit;
 text-decoration: inherit;
 color: inherit;

 /*background: inherit;*/
}

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
 height: 100%;
 font-family: sans-serif;
}

.header{
  display: flex;

  height: 50px;

  background-color: aliceblue;
}

.header a{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

.header a h1{
  margin: 10px;
}
